certifi==2023.11.17
charset-normalizer==3.3.2
idna==3.6
numpy==1.26.3
requests==2.31.0
urllib3==2.1.0

selenium~=4.16.0
SQLAlchemy~=2.0.25
pydantic~=2.5.3
beautifulsoup4~=4.12.2
openpyxl~=3.1.2
pandas~=2.2.0
xlsxwriter~=3.1.9
aiosqlite~=0.19.0
greenlet~=3.0.3
sentry-sdk~=1.39.2
fake-useragent~=1.4.0
APScheduler~=3.10.4

pikepdf~=8.11.2
aiogram~=2.25.1
fastapi~=0.109.0
python-dotenv~=1.0.0
uvicorn~=0.27.0
fastapi-jinja